.directory
__pycache__
.env

*.duckdb
.vscode
jsons
similarity_model.pkl
revised_listeners.json
no_mbid_artists.pkl
listeners.json
features.pkl
falses.pkl
delete
artists.txt
temp_essentia_converter.py
*.log
*.duckdb
test_copy.ipynb
test.ipynb